body, ul {
    margin: 0;
    padding: 0;
}

.pre-navbar-content {
    text-align: center;
    background-color: rgba(118, 138, 77, 0.5);
    color: #fff;
    padding: 10px 0;
    position: relative;
    font-size: small;
    z-index: 2;
}

.review-btn {
    position: fixed;
    top: 50vh;
    right: -73px;
    z-index: 2;
    transform: rotateZ(90deg);
    padding: 11px 5px;
    width: 12rem;
    letter-spacing: 1px;
    border: none;
    background-color: #000000;
    color: #fff;
    font-weight: 500;
}

.transparent-navbar {
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    z-index: 1;
}

.left-items ul {
    list-style: none;
}

.left-items li {
    margin-right: 20px;
    font-size: small;
}

.left-items a {
    text-decoration: none;
    /* color: #fff; */
}

.logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-size: xx-large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.right-items ul {
    list-style: none;
}

.right-items li {
    margin-left: 20px;
    font-size: small;
}

.right-items a {
    text-decoration: none;
    color: #fff;
}

nav a:hover {
    text-decoration: underline;
    color: #fff;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.header-image {
    color: #fff;
    text-align: center;
    padding: 100px 0;
    box-sizing: border-box;
}

.slideshow-container {
    position: relative;
    top: -7.3rem;
    width: 100%;
    margin: 0 auto;
}

.mySlides {
    display: none;
    animation: slide 0.3s ease-in-out;
}

.img-desc {
    font-family: 'Times New Roman', Times, serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.img-desc p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.img-desc button {
    border: none;
    padding: 5px;
    width: 12em;
    height: 3.5em;
    font-size: small;
    font-weight: bold;
    font-family: sans-serif;
    background-color: #000000;
    color: #fff;
    letter-spacing: 1px;
}

.mySlides img {
    width: 100%;
    height: auto;
}

.mySlides::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: -4px; /* Adjust the distance of the shadow from the bottom as needed */
    height: 4px;
    background: linear-gradient(to top, rgb(235, 235, 235), rgb(154, 150, 150));
}

@keyframes slide {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}

.carousel-heads {
    text-align: center;
    position: relative;
    top: -19vh;
}

.carousel-heads p {
    letter-spacing: 2px;
    font-weight: 500;
}

.custom-carousel-container {
    position: relative;
    top: -15vh;
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
}

.custom-carousel {
    display: flex;
    transition: transform 0.3s ease-in-out;
}

.slide { /* Display 3 slides at a time */
    flex: 0 0 33.33%; 
}

.slide img {
    width: 100%;
    height: auto;
}

.slide p {
    position: relative;
    text-align: center;
    top: -50px;
    letter-spacing: 2px;
    font-weight: bold;
}

.prev-button,
.next-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    color: #0c0c0c;
    border: none;
    cursor: pointer;
    padding: 10px 15px;
    font-size: 40px;
    z-index: 2;
}

.prev-button {
    left: 0;
}

.next-button {
    right: 0;
}

.prev-button:focus {
    outline: none;
}

.next-button:focus {
    outline: none;
}

.product-container {
    display: flex;
    width: 75%;
    margin: auto;
}

.product-container img {
    width: 560px;
    height: 730px;
    object-fit: cover;
}

.product-container h6 {
    letter-spacing: 1.9px;
    font-size: 14px;
}

.product-container h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 35px;
    width: 80%;
    display: flex;
    align-items: center;
}

.product-container p {
    width: 28vw;
    text-align: justify;
    font-weight: 300;
}

.product-container button {
    border: none;
    background-color: #face93;
    padding: 13px 35px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1px;
    border-radius: 2.5px;
}

.product-container button:hover {
    background-color: #000000;
    color: #face93;
}

.experts-img {
    width: 560px;
    height: 555px;
}

.product-details {
    margin: auto;
}

.post-content {
    width: max-content;
    position: relative;
    left: 12.5vw;
    top: 15vh;
}

.post-content h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 35px;
}

.post-content p {
    width: 55vw;
    text-align: justify;
    font-weight: 300;
}

.post-content b {
    font-size: 13px;
}

.cards-container {
    position: relative;
    top: 40vh;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}

.content-header {
    text-align: center;
    position: relative;
    top: 40vh;
}

.cards-container img {
    width: 400px;
    height: 414px;
    object-fit: cover;
}

.cards-container h5 {
    width: 26vw;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.2rem !important;
    font-weight: 700;
}

.cards-container p {
    width: 26vw;
    text-align: justify;
    line-height: 27px;
    font-weight: 200;
}

.tags a {
    text-decoration: underline;
    color: #000000;
    font-size: x-small;
    margin-right: 12px;
    font-weight: 500;
}

.new-tags {
    color: #000000;
    font-weight: bold;
    border-bottom: 2px solid #e0af70;
}

.new-tags:hover {
    color: #face93;
    text-decoration: none;
}

footer {
    position: relative;
    top: 50vh;
}

.footer-2 {
    background-color: #000000;
    color: #d0d0d0;
    height: 27vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 19px;
}

.footer-1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #000000;
    color: #fff;
    height: 40vh;
    border-bottom: 1px solid rgb(56, 56, 56);
}

.footer-1 i:hover {
    cursor: pointer;
}

.footer-links a{
    color: #fff;
    text-decoration: underline;
    margin-right: 4px;
    font-size: 13px;
}

.footer-links {
    height: 50%;
    width: 25%;
    gap: 21px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.footer-links a:hover {
    color: #d0d0d0;
    transition: all 0.3s ease-in-out;
}

.social-icons {
    display: flex;
    justify-content: space-between;
    width: 9vw;
}

.contact-us input[type= "email"]{
    padding: 5px 15px;
    width: 28vw;
    height: 8vh;
    background-color: transparent;
    border: 1px solid white;
    color: #fff;
}

.contact-us input[type= "email"]:focus {
    outline: none;
}

.contact-us button {
    width: 28vw;
    background-color: #face93;
    font-size: 13px;
    padding: 15px 10px;
    font-weight: bold;
    border-radius: 5px;
}

.scroll-down {
    background-color: white;
    color: #000000;
    position: fixed;
    top: 0px;
    transition: 0.3s all ease-in-out;
}

.bg-black {
    color: #000000 !important;
}

.bar-container button{
    background-color: transparent; color: white; border: none;
}

.scroll-down a {
    color: black;
}

@media screen and (max-width: 767px) {
    .mySlides img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        box-sizing: border-box;
        vertical-align: middle;
    }

    nav a {
        display: none;
    }

    .bar-container {
        display: block;
    }

    .slide { /* Display 1 slide at a time */
        flex: 0 0 100%; 
    }

    .product-container {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin: 0 auto;
        gap: 20px;
    }

    .product-container img {
        width: 70vw;
        height: 100vw;
    }

    .product-details p {
        display: none;
    }

    .cards-container {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .cards-container p {
        width: 80%;
        margin: 17 auto;
    }

    .cards-container h5 {
        width: 80%;
        margin: 0 auto;
    }

    .post-content h1 {
        font-size: 5vw;
    }

    .footer-1 {
        text-align: center;
        height: 100%;
        display: flex;
        flex-direction: column;

    }

    .footer-links {
        display: flex;
        flex-direction: row;
        width: 70vw;
        height: 20vw;
    }

    .social-icons {
        width: 30%;
        display: flex;
    }

    .contact-us input[type= "email"] {
        width: 70vw;
    }
}

@media screen and (min-width: 901px) {
    .bar-container {
        display: none;
    }
}

@media screen and (min-width: 768px) and (max-width: 901px) {
    .mySlides img {
        height: 70%;
        width: 100%;
        object-fit: cover;
        box-sizing: border-box;
    }
    nav a {
        display: none;
    }
    .slide p {
        margin-top: 20px;
    }
    .product-container img {
        width: 44vw;
    }
    .product-details {
        margin-right: 30px;
    }
    .cards-container img {
        width: 80%;
    }
}